<form action="submit">

    <div class="form-group">
        <label for="">{{localize "mastercrafted.itemConfig.attributePath.label"}}</label>
        <input type="text" name="flags.mastercrafted.attributePath" value="{{object.flags.mastercrafted.attributePath}}">
    </div>

        <div class="form-group">
        <label for="">{{localize "mastercrafted.itemConfig.tags.label"}}</label>
        <input type="text" name="flags.mastercrafted.tags" value="{{object.flags.mastercrafted.tags}}">
        <p class="notes">{{localize "mastercrafted.itemConfig.tags.notes"}}</p>
    </div>

    <footer>
    <button type="submit"><i class="fas fa-check"></i> {{localize "mastercrafted.recipeApp.editcreatebook.confirm"}}</button>
    </footer>
</form>